In [1]:
import pandas as pd
import seaborn as sns 
import matplotlib.pyplot as plt
from datetime import datetime

data = pd.read_excel('/Users/hello/Documents/Jupiter Notebook/Data DNA Nov Challenge/DataDNA Dataset Challenge - E-commerce Dataset - November 2025.xlsx', sheet_name=None)

In [2]:
# Print all available sheets in the Excel file
print("Available sheets in the Excel file:")
for sheet_name in data.keys():
    print(f"- {sheet_name}")

# Optional: Print number of rows in each sheet
print("\nNumber of rows in each sheet:")
for sheet_name, df in data.items():
    print(f"- {sheet_name}: {len(df)} rows")

Available sheets in the Excel file:
- Events
- Products
- Customers
- DataDictionary

Number of rows in each sheet:
- Events: 48000 rows
- Products: 101 rows
- Customers: 4000 rows
- DataDictionary: 40 rows

In [3]:
df_events = pd.read_excel('/Users/hello/Documents/Jupiter Notebook/Data DNA Nov Challenge/DataDNA Dataset Challenge - E-commerce Dataset - November 2025.xlsx', sheet_name= 'Events')

display(df_events)
df_products = pd.read_excel('/Users/hello/Documents/Jupiter Notebook/Data DNA Nov Challenge/DataDNA Dataset Challenge - E-commerce Dataset - November 2025.xlsx', sheet_name= 'Products')

display(df_products)
df_customers = pd.read_excel('/Users/hello/Documents/Jupiter Notebook/Data DNA Nov Challenge/DataDNA Dataset Challenge - E-commerce Dataset - November 2025.xlsx', sheet_name= 'Customers')

display(df_customers)

,event_id,event_type,event_date,customer_id,product_id,country,latitude,longitude,region,channel,...,unit_price_local,discount_code,discount_local,tax_local,net_revenue_local,fx_rate_to_usd,net_revenue_usd,is_refunded,refund_datetime,refund_reason
0,DB4F1A096586,order,2024-12-09 00:11:27,CUST0001946,PROD0083,United States,39.8283,-98.5795,NaN,Website,...,36.70,NaN,0.00,0.00,110.10,1.00,110.10,False,NaT,NaN
1,3550A69EEA36,order,2025-08-11 21:31:03,CUST0003776,PROD0049,Australia,-25.2744,133.7751,APAC,Website,...,19.70,NaN,0.00,9.85,108.35,0.66,71.51,False,NaT,NaN
2,0C3CAE65E90C,order,2025-09-30 15:39:28,CUST0001105,PROD0075,Canada,56.1304,-106.3468,NaN,Website,...,20.12,NaN,0.00,1.01,21.13,1.00,21.13,False,NaT,NaN
3,7DDC83355865,invoice,2024-09-26 04:13:11,CUST0003164,PROD0017,United States,39.8283,-98.5795,NaN,Partner,...,19.00,NaN,0.00,0.00,190.00,1.00,190.00,False,NaT,NaN
4,DAE0B37D8815,order,2024-06-23 16:03:04,CUST0003410,PROD0099,United States,39.8283,-98.5795,NaN,Website,...,29.38,NaN,0.00,0.00,88.14,1.00,88.14,False,NaT,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47995,CC2724785D44,invoice,2024-04-27 03:18:24,CUST0001573,PROD0089,Brazil,-14.2350,-51.9253,LATAM,Direct Sales,...,23.45,SAVE5,11.73,35.17,257.94,1.00,257.94,False,NaT,NaN
47996,8F721B3A7EB9,invoice,2025-08-08 13:17:00,CUST0003496,PROD0048,Netherlands,52.1326,5.2913,EU,Partner,...,84.91,NaN,0.00,169.82,1018.92,1.06,1080.06,False,NaT,NaN
47997,31681CA1A687,order,2024-11-19 05:37:17,CUST0001408,PROD0032,Philippines,12.8797,121.7740,APAC,Website,...,120.00,NaN,0.00,54.00,414.00,1.00,414.00,False,NaT,NaN
47998,E5332EABFA60,order,2025-03-07 11:57:05,CUST0002137,PROD0077,Brazil,-14.2350,-51.9253,LATAM,Website,...,25.00,NEWCUSTOMER10,7.50,11.25,78.75,1.00,78.75,False,NaT,NaN
47999,64381905AD06,order,2025-05-24 18:43:02,CUST0000327,PROD0047,United Kingdom,55.3781,-3.4360,EU,Website,...,7.38,NaN,0.00,7.38,44.28,1.22,54.02,False,NaT,NaN

,product_id,product_name,category,is_subscription,billing_cycle,base_price_usd,first_release_date,vendor,resale_model,brand_safe_name,product_name_orig,base_price_usd_orig,base_key,product_version
0,PROD0001,Microsoft 365 Business Standard Monthly,Productivity Suite,True,Monthly,49.00,2023-11-24,Microsoft,Direct resale,Office Suite 365 Business Standard Monthly,Microsoft 365 Business Standard Monthly,49.0,microsoft 365 business standard,v3.0
1,PROD0002,Microsoft 365 Business Standard Annual,Productivity Suite,True,Annual,499.00,2023-02-27,Microsoft,Direct resale,Office Suite 365 Business Standard Annual,Microsoft 365 Business Standard Annual,499.0,microsoft 365 business standard,v3.0
2,PROD0003,Adobe Creative Cloud All Apps Monthly,Productivity Suite,True,Monthly,29.00,2023-01-13,Adobe,Direct resale,Creative Suite Creative Cloud All Apps Monthly,Adobe Creative Cloud All Apps Monthly,29.0,adobe creative cloud all apps,v3.0
3,PROD0004,Adobe Creative Cloud All Apps Annual,Productivity Suite,True,Annual,299.00,2023-05-21,Adobe,Direct resale,Creative Suite Creative Cloud All Apps Annual,Adobe Creative Cloud All Apps Annual,299.0,adobe creative cloud all apps,v3.0
4,PROD0005,AI Analytics Add‑on Monthly,Add-on,True,Monthly,15.00,2023-05-06,AI Tools,Marketplace,AI Analytics Add‑on Monthly,AI Analytics Add‑on Monthly,15.0,ai analytics add‑on,v3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,PROD0097,Adobe Firefly Creative AI Monthly Pro,Design,True,Monthly,24.48,2024-03-01,Adobe,Direct resale,Creative Suite Firefly Creative AI Monthly Pro,Adobe Firefly Creative AI Monthly,20.0,adobe firefly creative ai,v4.0
97,PROD0098,ChatGPT Team Annual Business,AI Tools,True,Annual,267.40,2024-03-01,AI Tools,Marketplace,AI Assistant Team Annual Business,ChatGPT Team Annual,250.0,chatgpt team,v4.0
98,PROD0099,Adobe Firefly Creative AI Monthly Business,Design,True,Monthly,29.38,2024-03-01,Adobe,Direct resale,Creative Suite Firefly Creative AI Monthly Bus...,Adobe Firefly Creative AI Monthly,20.0,adobe firefly creative ai,v4.0
99,PROD0100,Azure AI Studio Annual Pro,Developer Tools,True,Annual,316.27,2024-03-01,Microsoft,Direct resale,Cloud AI Studio AI Studio Annual Pro,Azure AI Studio Annual,290.0,azure ai studio,v4.0
100,PROD0101,ChatGPT Team Monthly Pro,AI Tools,True,Monthly,30.65,2024-03-01,AI Tools,Marketplace,AI Assistant Team Monthly Pro,ChatGPT Team Monthly,25.0,chatgpt team,v4.0

,customer_id,signup_date,region,currency_preference,segment,acquisition_channel,age_band,country,country_latitude,country_longitude
0,CUST0000001,2025-07-28 15:21:00,EU,GBP,Consumer,Affiliate,55+,United Kingdom,55.3781,-3.4360
1,CUST0000002,2024-09-01 00:03:00,APAC,AUD,Consumer,Organic,55+,Australia,-25.2744,133.7751
2,CUST0000003,2024-06-03 02:38:00,EU,GBP,Consumer,Paid Search,35-44,United Kingdom,55.3781,-3.4360
3,CUST0000004,2025-02-18 05:22:00,APAC,AUD,Consumer,Email,55+,Australia,-25.2744,133.7751
4,CUST0000005,2024-11-05 10:37:00,NaN,USD,Consumer,Paid Search,35-44,United States,39.8283,-98.5795
...,...,...,...,...,...,...,...,...,...,...
3995,CUST0003996,2024-02-12 13:50:00,APAC,AUD,SOHO,Affiliate,55+,Australia,-25.2744,133.7751
3996,CUST0003997,2025-03-17 02:26:00,APAC,AUD,Consumer,Email,35-44,Australia,-25.2744,133.7751
3997,CUST0003998,2024-06-23 11:24:00,NaN,USD,Consumer,Email,18-24,United States,39.8283,-98.5795
3998,CUST0003999,2025-04-05 10:24:00,NaN,USD,Consumer,Paid Search,25-34,Canada,56.1304,-106.3468
3999,CUST0004000,2024-09-09 01:22:00,NaN,USD,Consumer,Affiliate,25-34,Canada,56.1304,-106.3468

In [4]:
# # Recency
# reference_date = df_events['event_date'].max()

# customer_recency = df_events.groupby('customer_id')['event_date'].max().reset_index()
# customer_recency.columns = ['customer_id', 'last_purchase_date']
# customer_recency['recency_days'] = (reference_date - customer_recency['last_purchase_date']).dt.days

# def assign_recency_score(days):
#     if days <= 30:          # Last month
#         return 5
#     elif days <= 90:        # Last 3 months
#         return 4
#     elif days <= 180:       # Last 6 months
#         return 3
#     elif days <= 365:       # Last year
#         return 2
#     else:                   # Over a year
#         return 1

# customer_recency['recency_score'] = customer_recency['recency_days'].apply(assign_recency_score)

# customer_recency

In [5]:
# # frequency
# customer_frequency = df_events.groupby('customer_id').size().reset_index()
# customer_frequency.columns = ['customer_id', 'purchase_count']

# def assign_frequency_score(count):
#     if count >= 12:         # 10+ purchases - super loyal
#         return 5
#     elif count >= 6:        # 5-9 purchases - highly loyal
#         return 4
#     elif count >= 3:        # 3-4 purchases - loyal
#         return 3
#     elif count >= 2:        # 2 purchases - repeat customer (LOYAL)
#         return 2
#     else:                   # 1 purchase - one-time
#         return 1

# customer_frequency['frequency_score'] = customer_frequency['purchase_count'].apply(assign_frequency_score)

# # STEP 5: View the results
# print(customer_frequency.head())
# print(f"\nFrequency Score Distribution:\n{customer_frequency['frequency_score'].value_counts().sort_index()}")

In [6]:
# # Check the distribution of purchase counts
# print(customer_frequency['purchase_count'].describe())
# print(f"\nPurchase Count Distribution:\n{customer_frequency['purchase_count'].value_counts().sort_index().head(20)}")

In [7]:
# # Monetary Value
# customer_monetary = df_events.groupby('customer_id')['net_revenue_usd'].sum().reset_index()

# customer_monetary.columns = ['customer_id', 'total_revenue']

# print(customer_monetary['total_revenue'].describe())

# def assign_monetary_score(revenue):
#     if revenue >= 5000:     # $5000+ - VIP
#         return 5
#     elif revenue >= 2000:   # $2000-4999 - High value
#         return 4
#     elif revenue >= 500:    # $500-1999 - Medium value
#         return 3
#     elif revenue >= 100:    # $100-499 - Low value
#         return 2
#     else:                   # Under $100 - Very low
#         return 1

# customer_monetary['monetary_score'] = customer_monetary['total_revenue'].apply(assign_monetary_score)

# print("\nMonetary Scores:")
# print(customer_monetary.head(10))
# print(f"\nMonetary Score Distribution:\n{customer_monetary['monetary_score'].value_counts().sort_index()}")
# print(f"\nTotal Revenue Stats:\n{customer_monetary['total_revenue'].describe()}")

In [8]:
# rfm = customer_recency[['customer_id', 'recency_days', 'recency_score']]
# rfm = rfm.merge(customer_frequency[['customer_id', 'purchase_count', 'frequency_score']], on='customer_id')
# rfm = rfm.merge(customer_monetary[['customer_id', 'total_revenue', 'monetary_score']], on='customer_id')

# # Calculate total RFM score
# rfm['rfm_total_score'] = rfm['recency_score'] + rfm['frequency_score'] + rfm['monetary_score']

In [11]:
 # RECENCY -----
reference_date = df_events['event_date'].max()

customer_recency = df_events.groupby('customer_id')['event_date'].max().reset_index()
customer_recency.columns = ['customer_id', 'last_purchase_date']
customer_recency['recency_days'] = (reference_date - customer_recency['last_purchase_date']).dt.days

def assign_recency_score(days):
    if days <= 30:          # Last month
        return 5
    elif days <= 90:        # Last 3 months
        return 4
    elif days <= 180:       # Last 6 months
        return 3
    elif days <= 365:       # Last year
        return 2
    else:                   # Over a year
        return 1


customer_recency['recency_score'] = customer_recency['recency_days'].apply(assign_recency_score)

# FREQUENCY -----
customer_frequency = df_events.groupby('customer_id').size().reset_index()
customer_frequency.columns = ['customer_id', 'purchase_count']

def assign_frequency_score(count):
    if count >= 18:         # Top performers (above 75th + 1.5*IQR) ≈ top 10%
        return 5
    elif count >= 14:       # Above 75th percentile
        return 4
    elif count >= 10:       # Above 25th percentile  
        return 3
    elif count >= 2:        # Loyal customers (repeat buyers)
        return 2
    else:                  
        return 1

customer_frequency['frequency_score'] = customer_frequency['purchase_count'].apply(assign_frequency_score)

#  MONETARY -----
customer_monetary = df_events.groupby('customer_id')['net_revenue_usd'].sum().reset_index()
customer_monetary.columns = ['customer_id', 'total_revenue']

print("Revenue distribution:")
print(customer_monetary['total_revenue'].describe())


def assign_monetary_score(revenue):
    if revenue >= 15000:      # Top spenders (roughly top 10-15%)
        return 5
    elif revenue >= 10584:    # Above 75th percentile ($10,584)
        return 4
    elif revenue >= 7159:     # Above median ($7,159)
        return 3
    elif revenue >= 4393:     # Above 25th percentile ($4,393)
        return 2
    else:                     # Below 25th percentile
        return 1

customer_monetary['monetary_score'] = customer_monetary['total_revenue'].apply(assign_monetary_score)

#  COMBINE ALL -----
rfm = customer_recency[['customer_id', 'recency_days', 'recency_score']]
rfm = rfm.merge(customer_frequency[['customer_id', 'purchase_count', 'frequency_score']], on='customer_id')
rfm = rfm.merge(customer_monetary[['customer_id', 'total_revenue', 'monetary_score']], on='customer_id')

# total RFM score
rfm['rfm_total_score'] = rfm['recency_score'] + rfm['frequency_score'] + rfm['monetary_score']

# SIMPLE SEGMENTS -----
def assign_segment(row):
    rfm_score = row['rfm_total_score']
    recency = row['recency_score']
    frequency = row['frequency_score']
    monetary = row['monetary_score']
    
    # Champions: Best on all metrics
    if rfm_score >= 13 and recency >= 4 and frequency >= 4:
        return "Champions"
    
    # High-Value Loyal: High spending + decent activity
    elif monetary >= 4 and recency >= 3:
        return "High-Value Loyal"
    
    # Loyal Frequent: High frequency + decent recency
    elif frequency >= 4 and recency >= 3:
        return "Loyal Frequent"
    
    # At-Risk Loyal: Haven't purchased recently
    elif recency <= 2:
        if monetary >= 4:
            return "At-Risk High-Value"
        else:
            return "At-Risk Standard"
    
    # Standard Loyal: Everything else
    else:
        return "Standard Loyal"

rfm['customer_segment'] = rfm.apply(assign_segment, axis=1)
display(rfm)
# print("\n=== RFM SUMMARY ===")
# print(rfm.head(10))

# print("\n=== SEGMENT DISTRIBUTION ===")
# print(rfm['customer_segment'].value_counts())

# print("\n=== LOYAL CUSTOMER BREAKDOWN ===")
# loyal_rfm = rfm[rfm['purchase_count'] >= 2]
# print(f"Total Loyal Customers: {len(loyal_rfm)}")
print(loyal_rfm['customer_segment'].value_counts())

#  EXPORT -----
# rfm.to_csv('rfm_customer_segments.csv', index=False)
# print("\n✅ Exported to rfm_customer_segments.csv")

Revenue distribution:
count     4000.00000
mean      7958.07037
std       4725.72526
min        105.55000
25%       4392.54250
50%       7159.47500
75%      10584.42000
max      37830.12000
Name: total_revenue, dtype: float64

,customer_id,recency_days,recency_score,purchase_count,frequency_score,total_revenue,monetary_score,rfm_total_score,customer_segment
0,CUST0000001,1,5,11,3,12975.05,4,12,High-Value Loyal
1,CUST0000002,1,5,14,4,3514.51,1,10,Loyal Frequent
2,CUST0000003,12,5,10,3,17149.49,5,13,High-Value Loyal
3,CUST0000004,20,5,17,4,12991.20,4,13,Champions
4,CUST0000005,191,2,10,3,2427.68,1,6,At-Risk Standard
...,...,...,...,...,...,...,...,...,...
3995,CUST0003996,62,4,13,3,10498.03,3,10,Standard Loyal
3996,CUST0003997,50,4,8,2,8671.90,3,9,Standard Loyal
3997,CUST0003998,12,5,15,4,6994.45,2,11,Loyal Frequent
3998,CUST0003999,25,5,8,2,1808.09,1,8,Standard Loyal
3999,CUST0004000,12,5,10,3,10045.77,3,11,Standard Loyal

customer_segment
Standard Loyal        2227
Loyal Frequent         681
High-Value Loyal       551
Champions              476
At-Risk Standard        61
At-Risk High-Value       4
Name: count, dtype: int64